*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background: #f8f8f9;
}
.header{
    height: 48px;
    line-height: 48px;
    /*background: rgba(0,0,0,.8);*/
    color: #fff;
}
.header-title{
    padding: 0 32px;
    text-align: center;
    color: #fff;
}

.header-menu-cart span,
.shopping-num{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background: #ff5500;
    color: #fff;
    font-size: 12px;
}
